# Imprint / Impressum
IMPRINT_NAME="Max Mustermann"
IMPRINT_CARE_OF=""
IMPRINT_STREET="Musterstraße 1"
IMPRINT_CITY="12345 Musterstadt"
IMPRINT_COUNTRY="Deutschland"
IMPRINT_EMAIL="kontakt@example.com"
IMPRINT_RESPONSIBLE="Max Mustermann"
